@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
/*HEADER*/
.nav-list {
  justify-content: center;
  list-style: none;
  display: flex;
  justify-self: center;
  column-gap: 33px;
}

body {
  font-family: "Roboto", sans-serif;
}
.container-for-list {
  top: 2.75px;
  position: relative;
  display: flex;
  max-width: 1200px;
  padding-left: 16.22rem;
  height: 4.4rem;
  margin: 0 auto;
}

.nav-item {
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 111.111% */
  letter-spacing: 0.0375rem;
  text-decoration: none;
  color: #000000;
}
.container-for-button {
  position: absolute;
  display: flex;
  justify-self: end;
  right: 3.78125rem;
  bottom: 84.9%;

  transform: translateY(-50%);
}
.button-login {
  border-radius: 120px;
  background-color: #fff;
  width: 5.8125rem;
  height: 3.1875rem;
  border: 1px solid #000000;
}
.container-for-image {
  position: relative;
  display: flex;
  justify-content: center;
}
.container-for-text {
  position: absolute;
  top: 13.12rem;
  left: 1.8rem;
  width: 28rem;
  padding-left: 23.5px;
  padding-bottom: 27px;
  line-height: 1.3;
  transform: translateY(-20%);
  font-size: 3.75rem;
}
.container-for-text-in-text {
  position: absolute;
  font-size: 1.125rem;
  color: #fff;
  left: 1.8rem;
  padding-left: 23px;
  bottom: 12.8rem;
}
/*MAIN*/
.container-images-woman {
  display: flexbox;
}
