@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.container-problem-people {
  margin: 0 auto;
  margin-top: 3.9375rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 72.0625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.625rem;
}
.title-problem-people {
  display: flex;
  width: 100%;
  max-width: 506px;
  height: 100%;
  max-height: 104px;
  flex-direction: column;
  margin: 0 auto;
  gap: 7px;
}
.item-title-problem {
  margin: 0;
  padding: 0;
  color: #000;
  text-align: start;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
}
.item-mini-title-problem {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.nav-list-problem {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
}
.first-button-problem {
  display: flex;
  width: 55px;
  height: 20px;
  padding: 0 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid #000;
  background: #000;
  color: white;
}
.second-button-problem {
  display: flex;
  width: 80px;
  height: 20px;
  padding: 0 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid #000;
}
.thirst-button-problem {
  display: flex;
  width: 100px;
  height: 20px;
  padding-right: 23px;
  padding-left: 11px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid #000;
}
.fourth-button-problem {
  display: flex;
  width: 147px;
  height: 20px;

  padding-right: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid #000;
}
.fivth-button-problem {
  display: flex;
  width: 133px;
  height: 20px;
  padding-right: 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  border: 1px solid #000;
}
.container-card-problem {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 1153px;

  align-items: flex-start;
  align-content: flex-start;
  gap: 24px 17px;
  align-self: stretch;
  flex-wrap: wrap;
}
.card-problem {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 373px;
  padding: 1px 1px 12px 0;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
}
.image-card-problem {
  margin: 0;
  padding: 0;
  gap: 0;
  height: auto;
  display: flex;
  align-items: start;
  flex-direction: row;
}
.container-item-card-problem {
  margin: 0;
  padding: 0;
  display: inline-grid;
  width: 100%;
  max-width: 339px;
  column-gap: 145px;
  grid-template-rows: repeat(1, fit-content(100%));
  grid-template-columns: repeat(2, fit-content(100%));
}
.container-item-card-problem1 {
  margin: 0;
  padding: 0;
  display: inline-grid;
  width: 100%;
  max-width: 339px;
  column-gap: 190px;
  grid-template-rows: repeat(1, fit-content(100%));
  grid-template-columns: repeat(2, fit-content(100%));
}
.container-item-card-problem2 {
  margin: 0;
  padding: 0;
  display: inline-grid;
  width: 100%;
  max-width: 339px;
  column-gap: 216px;
  grid-template-rows: repeat(1, fit-content(100%));
  grid-template-columns: repeat(2, fit-content(100%));
}
.container-item-card-problem3 {
  margin: 0;
  padding: 0;
  display: inline-grid;
  width: 100%;
  max-width: 339px;
  column-gap: 236px;
  grid-template-rows: repeat(1, fit-content(100%));
  grid-template-columns: repeat(2, fit-content(100%));
}
.container-item-card-problem4 {
  margin: 0;
  padding: 0;
  display: inline-grid;
  width: 100%;
  max-width: 339px;
  column-gap: 192px;
  grid-template-rows: repeat(1, fit-content(100%));
  grid-template-columns: repeat(2, fit-content(100%));
}
.column-item-card-problem {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 106px;
  flex-direction: column;
  align-items: flex-start;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  font-size: 16px;
  bottom: 8px;
}
.country-item-card-problem {
  margin: 0;
  padding: 0;
  margin-top: 19px;
  align-self: stretch;
  color: #999;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.05rem; /* 129.231% */
}
.button-problem {
  border: none;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 93px;
  max-height: 24px;
  padding: 4px 7px 6px 7px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;

  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-self: center;
  border-radius: 100px;
  background: #ebb243;
}
.button-show {
  margin: 0 auto;
  display: flex;
  width: 8.25rem;
  height: 3.375rem;
  margin-top: -4px;
  align-self: center;
  justify-content: center;
  justify-self: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 2.5rem;
  border: 1px solid #000;
  font-size: 16px;
}
/* новая секция */
.container-for-containerscreams {
  display: flex;
  width: 100%;
  max-width: 59.875rem;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 117px;
  gap: 2.5rem;
}
.container-for-textingr {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  line-height: 3.75rem;
  align-self: stretch;
}
.container-for-textform {
  color: #000;
  width: 100%;
  max-width: 47.375rem;
  align-self: stretch;
  text-align: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  line-height: 1.45rem;
}
.container-for-containerscream {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  align-self: stretch;
}
.container-for-firstcreams {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: space-between;
  column-gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
}
.container-for-cream1 {
  display: flex;
  width: 100%;
  height: 539px;
  max-width: 29.4375rem;
  padding-bottom: 2.875rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.21);
  background: #fff;
  flex: 1 0 0;
}
.img-cream {
  align-self: stretch;
}
.container-for-text-cream1 {
  display: flex;
  width: 24.0625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.text-cream1 {
  margin: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  align-self: stretch;
}
.text2-cream1 {
  margin: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem;
  align-self: stretch;
}

.container-for-secondcreams {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.0625rem;
  align-self: stretch;
  flex-wrap: wrap;
}
.container-for-cream2 {
  display: flex;
  width: 19.25rem;
  height: 501px;
  padding-bottom: 2.875rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
}
.container-for-text-cream2 {
  display: flex;
  width: 15.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.text-cream2 {
  margin: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 120% */
  align-self: stretch;
}
.text2-cream2 {
  margin: 0;
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 127.059% */
}
.button-for-cream {
  padding: 0;
  margin: 0 auto;

  display: flex;
  padding: 0.875rem 1.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
  border: 1px solid #000;
  background-color: #fff;
}

/*новая секция*/

.container-for-comments {
  display: flex;
  width: 100%;
  max-width: 75rem;
  height: 63.28rem;
  padding: 3.9375rem 3.5rem 15.75rem 3.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1.9375rem;
  margin: 0 auto;
}
.tittle-comments {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem; /* 128% */
  margin: 0 auto;
  margin-top: 3.94rem;
}

.container-for-reviews {
  display: flex;
  align-items: flex-start;
  gap: 1.1875rem;
  margin: 0 auto;
}
.container-for-review {
  margin: 0;
  padding: 0;
  display: flex;
  width: 21.875rem;
  padding: 1.3125rem 0.9375rem 1rem 0.9375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;

  border-radius: 0.5rem;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: -4px 0 14px 0 rgba(0, 0, 0, 0.06);
}
.text1-pimple {
  margin: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 120% */
  align-self: stretch;
}
.container-for-starstext {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 2.06rem;
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 0.4375rem;
  align-self: stretch;
  flex-wrap: wrap;
}
.text2-pimple {
  margin: 0;
  padding: 0;
  flex: 1 0 0;
  color: #737373;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.05rem; /* 120% */
}
.txt-rev {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.35rem;
}
