@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.container-for-faqs {
  margin: 0 auto;
  /* margin-top: 120px; */
  display: flex;
  width: 59.8125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}
.text-faqs {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem; /* 120% */
}
.container-for-question {
  margin: 0;
  padding: 0;
  display: flex;
  height: 4.375rem;
  padding-left: 1.5625rem;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 1rem;
  border: 1px solid #000;
}
.container-for-questions {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

/* новая секция */

.container-for-experts {
  margin: 0;
  padding: 0;
  margin-left: 8.89rem;
  margin-top: 98px;

  display: flex;
  width: 100%;
  max-width: 75.5rem;
  align-items: center;
  align-content: center;
  gap: 1.9375rem;
  /* flex-wrap: wrap; */
}
.container-for-textexperts {
  margin: 0;
  padding-bottom: 18px;
  display: flex;
  max-width: 28.5625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  flex: 1 0 0;
}
.text1-experts {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem; /* 128% */
  align-self: stretch;
}
.container-text2-experts {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  align-self: stretch;
}
.container-for-tick {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.container-for-textick {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6875rem;
  flex: 1 0 0;
}
.text2-expert {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 117.647% */
}
.container-card-experts {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
  transform: translateY(-2.53%);
}
.container-woman-exp {
  margin: 0;
  padding: 0;
  display: flex;
  width: 21.875rem;
  padding: 1.0625rem 1.0625rem 0.9375rem 1.0625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9375rem;
  border-radius: 1rem;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0 4px 54px 0 #fff;

  min-height: 21.7rem;
}
.container-text-expwoman {
  margin: 0;
  padding: 0;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}
.text-exp {
  margin: 0;
  padding: 0;
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 120% */
}
.text2-exp {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 12.5625rem;
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 127.059% */
}

/* новая секция */
.container-for-care {
  margin: 0 auto;
  margin-top: 79px;
  display: flex;
  width: 75rem;
  height: 38rem;
  padding: 3.875rem 7.13rem 3.9375rem 7.13rem;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.title-care {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem; /* 128% */ /* 128% */
}
.container-for-stapecare {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 5.71rem;
  flex-wrap: wrap;
}
.card-step-care {
  display: flex;
  width: 100%;
  max-width: 15.75rem;
  flex-direction: column;
  align-items: center;

  gap: 2.7375rem;
}
.image-step-care {
  margin-right: 10px;
  padding: 0;
  display: flex;
  width: 9.625rem;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  align-self: stretch;
}
.itame-image-step {
  margin: 0 auto;
  padding: 0;
  height: 13.9375rem;
  align-self: stretch;
  border-radius: 1.875rem;
  border: 2px solid #000;
}
.button-step-care {
  margin: 0;
  padding: 0;
  margin-top: -1.25rem;
  display: flex;

  padding: 0.5625rem 0 0.6875rem 0;
  justify-content: center;
  align-items: center;

  border-radius: 1.625rem;
  border: 2px solid #000;
  background: #fff;
  width: 100%;
  max-width: 6.13rem;
  max-height: 2.5rem;
}
.text-in-button {
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 125% */
}
.container-for-text-step {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}
.text1-in-step {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 120% */
}
.text2-in-step {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 127.059% */
  align-self: stretch;
}
/* новая секция*/
.container-for-satrted {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 75rem;
  padding: 3.9375rem 27.25rem 23.0625rem 27.3125rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.title-start {
  padding: 0;
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem; /* 128% */
}
.button-quiz {
  margin: 0;
  padding: 0;
  display: flex;
  width: 13.5rem;
  padding: 0.8125rem 1.5rem 0.8125rem 1.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #000;
}
.text-in-quiz {
  margin: 0;
  padding: 0;
  flex: 1 0 0;
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

/* новая секция */
.container-for-footer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 75rem;
  padding-top: 5.875rem;
  height: 40.1075rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.0625rem;
  background: #000;
}
.container-for-info {
  margin: 0;
  display: flex;
  padding: 0 6.56rem 0 31.94rem;
  align-items: flex-start;
  gap: 12.375rem;
  align-self: stretch;
}
.container-for-skinhair {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  max-width: 11.9375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.item-skinhair {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.container-for-exsessinf {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  max-width: 15.1875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.9375rem;
}
.container-for-login {
  display: flex;
  padding: 0.75rem 4.7325rem 0.8125rem 4.3125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 6.25rem;
  background: #fff;
  width: 100%;
  max-width: 250px;
}
.text-login {
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 120% */
}

.container-for-images {
  display: inline-grid;
  column-gap: 340px;
  align-self: stretch;
  align-items: end;
  grid-template-rows: repeat(1, 6.25rem);
  grid-template-columns: fit-content(100%) fit-content(100%) minmax(0, 1fr);
}
.logotype {
  width: 8.75rem;
  height: 6.25rem;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.flags {
  width: 12.625rem;
  height: 1.875rem;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}
.empty {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

.container-for-navigation {
  display: grid;
  height: 3.575rem;
  flex-shrink: 0;
  align-self: stretch;
  align-items: start;
  grid-template-rows: repeat(1, fit-content(100%));
  grid-template-columns: minmax(0, 1fr) 410.33px 367px;
  border-top: 1px solid #fffdfd;
  background: rgba(255, 255, 255, 0);
}
.empty1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 26.375rem;
  max-height: 1.075rem;
  align-items: flex-start;
  align-self: start;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-self: start;
}
.terms {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  flex-shrink: 0;
}
