@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html:has(body.no-scroll),
body.no-scroll {
  overflow: hidden !important;
  height: 100vh !important;
  max-height: 100vh !important;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #010101;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}
.preloader.preloader-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.preloader-spinner {
  width: 45px;
  height: 45px;
  border: 3px solid rgba(255, 255, 255, 0.08);
  border-top: 3px solid #167162;
  border-radius: 50%;
  animation: spinLoader 1s linear infinite;
}
@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.container-for-faqs {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 33.59rem;
  max-width: 59.8125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}
.text-faqs {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem; /* 120% */
}
.container-for-question {
  margin: 0;
  padding: 0;
  display: flex;
  height: 4.375rem;
  padding-left: 1.5625rem;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 1rem;
  border: 1px solid #000;
  font-size: 1.125rem;
  line-height: 1.25rem;
}
.container-for-questions {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

/* новая секция */

.container-for-experts {
  margin: 0;
  padding: 0;
  margin-left: 8.89rem;
  /* padding-top: 163px; */
  height: 100%;
  min-height: 32rem;
  display: flex;
  width: 100%;
  max-width: 75.5rem;
  align-items: center;
  align-content: center;
  gap: 1.9375rem;
  flex-wrap: wrap;
}
.container-for-textexperts {
  margin: 0;
  padding-bottom: 18px;
  display: flex;
  max-width: 28.5625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  flex: 1 0 0;
}
.text1-experts {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem; /* 128% */
  align-self: stretch;
}
.container-text2-experts {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  align-self: stretch;
}
.container-for-tick {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.container-for-textick {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6875rem;
  flex: 1 0 0;
}
.text2-expert {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 117.647% */
}
.container-card-experts {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
  transform: translateY(-2.53%);
}
.container-woman-exp {
  margin: 0;
  padding: 0;
  display: flex;
  width: 21.875rem;
  padding: 1.0625rem 1.0625rem 0.9375rem 1.0625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9375rem;
  border-radius: 1rem;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0 4px 54px 0 #fff;
  min-height: 21.7rem;
}
.container-text-expwoman {
  margin: 0;
  padding: 0;
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}
.text-exp {
  margin: 0;
  padding: 0;
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 120% */
}
.text2-exp {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 12.5625rem;
  align-self: stretch;
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 127.059% */
}

/* новая секция */
.container-for-care {
  margin: 0 auto;
  padding-top: 79px;
  display: flex;
  width: 100%;
  max-width: 75rem;
  padding: 3.875rem 7.13rem 3.9375rem 7.13rem;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.title-care {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem; /* 128% */ /* 128% */
}
.container-for-stapecare {
  display: flex;
  align-items: flex-start;
  align-content: center;
  gap: 5.71rem;
  flex-wrap: wrap;
}
.card-step-care {
  display: flex;
  width: 100%;
  max-width: 15.75rem;
  flex-direction: column;
  align-items: center;

  gap: 2.7375rem;
}
.image-step-care {
  margin-right: 10px;
  padding: 0;
  display: flex;
  width: 9.625rem;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  align-self: stretch;
}
.itame-image-step {
  margin: 0 auto;
  padding: 0;
  height: 13.9375rem;
  align-self: stretch;
  border-radius: 1.875rem;
  border: 2px solid #000;
}
.button-step-care {
  margin: 0;
  padding: 0;
  margin-top: -1.25rem;
  display: flex;

  padding: 0.5625rem 0 0.6875rem 0;
  justify-content: center;
  align-items: center;

  border-radius: 1.625rem;
  border: 2px solid #000;
  background: #fff;
  width: 100%;
  max-width: 6.13rem;
  max-height: 2.5rem;
}
.text-in-button {
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 125% */
}
.container-for-text-step {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}
.text1-in-step {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 120% */
}
.text2-in-step {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 127.059% */
  align-self: stretch;
}
.text2-in-step1 {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 127.059% */
  align-self: stretch;
}
/* новая секция*/
.container-for-satrted {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 75rem;
  padding: 3.9375rem 27.25rem 23.0625rem 27.3125rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.title-start {
  padding: 0;
  margin: 0;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.6rem; /* 128% */
}
.button-quiz {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 13.5rem;
  padding: 0.8125rem 1.5rem 0.8125rem 1.5625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: #000;
}
.text-in-quiz {
  margin: 0;
  padding: 0;
  flex: 1 0 0;
  align-self: stretch;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

/* новая секция */
.container-for-footer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 75rem;
  padding-top: 5.875rem;
  height: 40.1075rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 3.0625rem;
  background: #000;
}
.container-for-info {
  margin: 0;
  display: flex;
  padding: 0 6.56rem 0 31.94rem;
  align-items: flex-start;
  gap: 12.375rem;
  align-self: stretch;
}
.container-for-skinhair {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  max-width: 11.9375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.item-skinhair {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.container-for-exsessinf {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  max-width: 15.1875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.9375rem;
}
.container-for-login {
  display: flex;
  padding: 0.75rem 4.7325rem 0.8125rem 4.3125rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  border-radius: 6.25rem;
  background: #fff;
  width: 100%;
  max-width: 250px;
}
.text-login {
  color: #000;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35rem; /* 120% */
}

.container-for-images {
  display: inline-grid;
  column-gap: 340px;
  align-self: stretch;
  align-items: end;
  grid-template-rows: repeat(1, 6.25rem);
  grid-template-columns: fit-content(100%) fit-content(100%) minmax(0, 1fr);
}

.logotype {
  width: 8.75rem;
  height: 6.25rem;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.flags {
  width: 12.625rem;
  height: 1.875rem;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}
.empty {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

.container-for-navigation {
  display: grid;
  height: 3.575rem;
  flex-shrink: 0;
  align-self: stretch;
  align-items: start;
  grid-template-rows: repeat(1, fit-content(100%));
  grid-template-columns: minmax(0, 1fr) 410.33px 367px;
  border-top: 1px solid #fffdfd;
  background: rgba(255, 255, 255, 0);
}
.empty1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 26.375rem;
  max-height: 1.075rem;
  align-items: flex-start;
  align-self: start;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  justify-self: start;
}
.terms {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  flex-shrink: 0;
}
.terms1 {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  flex-shrink: 0;
  width: 6.0625rem;
}
.terms2 {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  flex-shrink: 0;
  width: 0.1875rem;
  font-size: 0.75;
}
.terms3 {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  flex-shrink: 0;
  width: 7.2625rem;
}
.terms4 {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  flex-shrink: 0;
  width: 0.1875rem;
  font-size: 0.75;
}
.terms5 {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Roboto;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  flex-shrink: 0;
  width: 12.6875rem;
}
.burger-menu {
  display: none;
}
@media screen and (max-width: 996px) {
  .container-for-list {
    grid-template-rows: 78px;
    padding-left: clamp(1rem, 11vw, 8.05rem);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nav-list {
    gap: 1.45rem;
    white-space: nowrap;
  }
  .container-for-mets {
    height: auto;
  }
  .container-for-card-mets {
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .container-card-problem {
    justify-content: center;
  }
  .container-for-reviews div:nth-child(3) {
    display: none;
  }
  .container-for-stapecare {
    justify-content: center;
  }
  .container-for-satrted {
    padding: 7rem 15.25rem;
  }
  .container-for-info {
    padding-left: 20.56rem;
  }
}
@media screen and (max-width: 829px) {
  .container-for-firstcreams {
    justify-content: center;
  }
}
@media screen and (max-width: 834px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .container-for-list {
    padding-top: 10px;
    display: grid;
    width: 100%;
    height: 100%;
    max-height: 3.68rem;
    max-width: 75.0625rem;
    padding-right: 0.575rem;
    grid-template-rows: 78px;
    padding-left: clamp(1rem, 9vw, 8.35rem);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nav-list {
    padding-top: 7px;
    white-space: nowrap;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 1.45rem;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    justify-self: center;
  }
  .container-for-image {
    display: flex;
    /* background-image: url(images/Frame\ 137.svg); */
    width: 100%;
    max-width: 52rem;
    height: 100%;
    max-height: 27.375rem;
    padding: 6.875rem 23.9375rem 9.875rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.45rem;
    background-size: 100% 100%;
  }

  .container-for-button {
    display: inline-flex;
    padding: 18px 2px 15px 2px;
    justify-content: flex-end;
    align-items: center;
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
  }
  .nav-item {
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 111.111% */
    letter-spacing: 0.037rem;
    text-decoration: none;
    color: #000000;
  }
  .img-woman23 {
    height: auto;
    min-height: 480px;
  }
  .container-images-woman {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 52.0625rem;
    height: 44.05rem;
    padding: 2.125rem 1.975rem 5.275rem 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .container-images-woman img:nth-child(2) {
    display: none;
  }
  .container-for-gif {
    display: none;
  }

  .container-for-symbol {
    display: flex;
    width: 100%;
    max-width: 52.0625rem;
    height: 100%;
    min-height: 8.1875rem;
    justify-content: center;
    align-items: center;
  }

  .container-for-mets {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 52.0625rem;
    height: 100%;
    min-height: 92rem;
    padding: 2.0375rem 0.0625rem 1.0625rem 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }
  .title-for-mets {
    display: flex;
    width: 33.4375rem;
    padding: 0 1.5rem;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  .container-for-card-mets {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3.125rem;
    align-self: stretch;
    flex-wrap: wrap;
  }
  .first-content-card-mets {
    display: flex;
    width: 100%;
    max-width: 16.75rem;
    height: 35.875rem;
    padding: 26.875rem 1.5rem 0 1.5rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .item-first-card-mets1_1 {
    font-size: 18px;
    margin-right: 20px;
  }
  .container-for-button-for-last3cardmets {
    display: flex;
    height: 2.625rem;
    padding: 0.975rem 1.5625rem 0.75rem 1.5625rem;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .container-for-button-for-last3cardmets1 {
    display: flex;
    height: 2.625rem;
    padding: 0.975rem 1.5625rem 0.75rem 1.5625rem;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .container-problem-people {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 0.0625rem 0 0;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 1250px;
    gap: 1.785rem;
  }
  .title-problem-people {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    max-width: 52rem;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .item-title-problem {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.4rem; /* 128% */
  }
  .item-mini-title-problem {
    margin: 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
  }
  .nav-list-problem {
    list-style: none;
    display: flex;
    width: 52rem;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
  }
  .container-card-problem {
    margin: 0 auto;
    padding: 0;
    /* padding-top: 6px; */
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 1.0625rem;
    flex-wrap: wrap;
  }
  .button-show {
    margin: 0;
    padding: 0;
    margin-top: 7px;
    transform: translateY(-15%);
    display: flex;
    width: 8.25rem;
    height: 3.375rem;
    padding: 1.0025rem 0.5625rem;
    justify-content: center;
    align-items: center;
    justify-self: center;
    /* align-self: flex-end; */
    gap: 0.625rem;
    border-radius: 2.5rem;
    border: 1px solid #000;
  }

  .container-for-containerscreams {
    display: flex;
    width: 100%;
    max-width: 59.875rem;
    height: 100%;
    min-height: 114rem;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 105px;
    gap: 2.15rem;
  }
  .container-for-containerscream {
    display: flex;
    padding: 0 1.05rem;

    justify-content: center;
    align-items: center;
    align-content: space-between;
    align-self: stretch;
  }
  .container-for-cream1 {
    height: 29.68rem;
    display: flex;
    width: 100%;
    max-width: 24.3375rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.21);
    background: #fff;
  }
  .container-for-text-cream1 {
    display: flex;
    max-width: 24.0625rem;
    padding: 0 0.825rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
  }
  .button-for-cream {
    margin-top: 5px;
  }
  .container-for-comments {
    max-width: 52.0625rem;
    height: 100%;
    min-height: 42.1rem;
    padding: 0.7625rem 3.5rem 0 3.5rem;
  }
  .container-for-reviews div:nth-child(3) {
    display: none;
  }

  .container-for-faqs {
    min-height: 0;
    width: 100%;
    max-width: 45.81rem;
  }
  .container-for-question {
    padding-right: clamp(1rem, 45vw, 25rem);
  }

  .container-for-experts {
    margin: 0;
    padding: 0;
    min-height: 27.6rem;
  }
  .container-for-textexperts {
    margin: 0;
    padding: 0 20px;
    gap: 3.2rem;
  }

  .container-card-experts > div:nth-child(2) {
    display: none;
  }
  .container-card-experts {
    padding-right: 24px;
    padding-top: 50px;
  }
  .container-for-tick {
    padding-bottom: 17px;
  }
  .container-for-stapecare {
    justify-content: center;
    gap: 3.9rem;
  }
  .container-for-satrted {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 24.2rem;
    width: 100%;
    max-width: 52.06rem;
    padding-top: 5.7rem;
  }
  .container-for-info {
    padding: 0;
    padding-left: 14.5rem;
    gap: 6.3rem;
  }
  .container-for-images {
    gap: 175px;
  }
  .container-for-navigation {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 793px) {
  .container-for-text {
    font-size: 2.875rem;
    line-height: 2.9rem;
    font-weight: 400;
    width: 100%;
    min-width: 220px;
  }

  .container-for-text-in-text {
    font-size: 0.925rem;
    line-height: 1.25rem;
    width: 100%;
    min-width: 90px;
    margin-top: -1.9rem;
  }
  .container-for-firstcreams {
    justify-content: center;
  }
}
@media screen and (max-width: 780px) {
  .container-for-comments {
    padding: 0 1.7rem;
  }
  .container-for-reviews {
    flex-wrap: wrap;
    justify-content: center;
  }
  .container-for-card-mets {
    height: auto;
  }
}
@media screen and (max-width: 709px) {
  .container-for-list nav {
    display: none !important;
  }

  .container-for-list div:nth-child(1) {
    margin-right: 20px;
    display: flex;
  }
  .container-for-button {
    margin: 0;
    padding: 0;
  }
  .container-for-list {
    padding-top: 15px;
    padding-left: 0.575rem;
    grid-template-rows: 50px;
  }
  .container-images-woman {
    padding: 0;
    height: 100%;
    min-height: auto;
  }

  .img-woman23 {
    min-height: 320px;
    max-width: 468px;
    margin: 0 auto;
    padding: 25px 5px 40px 5px;
  }
  .item-for-title-mets {
    font-size: 33px;
  }

  .menu-overlay {
    display: block; /* Делаем элемент активным в потоке */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); /* Затемнение фона */
    backdrop-filter: blur(8px); /* Размытие заднего фона */
    -webkit-backdrop-filter: blur(8px); /* Поддержка для iOS Safari */
    z-index: 998; /* Слой строго под выплывающим меню, но над контентом */

    /* Изначально скрываем оверлей плавным исчезновением */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 1.725rem;
    height: 3.125rem;
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
    z-index: 1000;
  }
  .menu-overlay.active {
    opacity: 1;
    pointer-events: auto;
  }
  .burger-menu > span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition:
      transform 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }
  .burger-menu.open span:nth-child(2) {
    transform: translateX(30px);
    opacity: 0;
  }
  .burger-menu.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .burger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .container-for-list nav.nav-menu {
    display: block;
    top: 0;
    right: 0;
    width: 75%;
    max-width: 320px;

    background-color: #ffffff;
    z-index: 999;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .container-for-list nav.nav-menu.active {
    display: block !important;
    position: fixed; /* Выводим меню из сетки грида поверх страницы */
    top: 0;
    right: 0; /* Прижимаем к правому краю */
    width: 75%; /* Занимает 75% экрана */
    max-width: 320px; /* Ограничение по ширине */
    height: 100vh; /* На всю высоту экрана */
    background-color: #ffffff;
    z-index: 999; /* Поверх размытого фона */
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);

    /* Начальное положение для анимации (сдвинуто вправо за экран) */
    transform: translateX(100%);
    /* Плавное выдвижение слева направо */
    animation: slideInMenu 0.4s forwards cubic-bezier(0.16, 1, 0.3, 1);
  }
  @keyframes slideInMenu {
    to {
      transform: translateX(0);
    }
  }
  .container-for-list nav.nav-menu.active .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 80px 30px 30px 30px;
    gap: 20px;
    height: 100%;
  }

  .container-for-text {
    font-size: 2.875rem;
    line-height: 2.9rem;
    font-weight: 400;
    width: 100%;
    min-width: 330px;
  }

  .container-for-text-in-text {
    font-size: 0.925rem;
    line-height: 1.25rem;
    width: 100%;
    min-width: 90px;
    margin-top: -1.9rem;
  }
  .title-problem-people {
    max-height: none;
  }
  .nav-list-problem {
    flex-wrap: wrap;
    align-items: center;
    width: auto;
  }
  .container-for-image {
    margin: 0;
  }
  .container-for-firstcreams {
    justify-content: center;
  }
  /* .container-for-mets {
    min-height: 95rem;
  } */
}
@media screen and (max-width: 634px) {
  .container-for-info {
    padding-left: 10.5rem;
    gap: 2.3rem;
  }
}
@media screen and (max-width: 500px) {
  .container-for-info {
    padding-left: 4.7rem;
    gap: 2rem;
  }
  .container-for-images {
    gap: 100px;
  }
  .container-for-login {
    padding: 12px 3.37rem;
  }
  .text-login {
    font-size: 1rem;
  }
  .nav-bar-for-mets {
    height: auto;
  }
  .container-for-text-cream1 {
    padding: 0 0.15rem;
  }
}
@media screen and (max-width: 361px) {
  .title-for-mets {
    width: auto;
  }
  .card-problem {
    overflow: hidden;
    max-width: 313px;
  }
  .container-item-card-problem1 {
    column-gap: 160px;
  }
  .container-item-card-problem2 {
    column-gap: 190px;
  }
  .container-item-card-problem3 {
    column-gap: 209px;
  }
  .container-item-card-problem4 {
    column-gap: 163px;
  }
  .container-for-text-cream1 {
    width: auto;
  }
  .container-for-info {
    padding-left: 0.2rem;
  }
  .container-for-images {
    gap: 2px;
  }
}
@media screen and (max-width: 321px) {
  .container-for-list nav:nth-child(2) {
    display: none;
  }
  .container-for-list div:nth-child(1) {
    margin-right: 20px;
    display: flex;
  }
  .container-for-list {
    padding: 0;
    margin: 0;
    max-height: 6px;
    /* min-height: 6px; */
    padding-right: 10px;
    grid-template-rows: 29px;
    padding-left: 10px;
  }
  .container-for-button {
    margin: 0;
    padding-top: 1px;
  }
  .button-login {
    font-size: 8px;
    padding: 0.0375rem 0.845rem;
    width: auto;
    height: 1.625rem;
  }
  .burger-menu {
    width: 1.5rem;
    height: 1.5rem;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: start;
  }
  .container-for-image {
    max-height: 0;
    min-height: 24.275rem;
    padding-top: 7.875rem;
    margin-top: 20px;
  }
  .container-for-text {
    font-size: 1.875rem;
    line-height: 2.5rem;
    font-weight: 400;
    min-width: 220px;
  }
  .container-for-text-in-text {
    font-size: 0.625rem;
    line-height: 1.25rem;
    width: 90px;
    margin-top: -1.9rem;
  }
  .container-images-woman {
    max-height: 10.98rem;

    width: 100%;
    max-width: 271px;
    padding: 0;
    margin: 0 auto;
    padding-top: 151px;
  }
  .img-woman23 {
    min-height: unset;
    max-width: 365px;
  }
  .sec1 {
    min-height: 351px;
    height: 100%;
  }
  .container-for-symbol {
    min-height: 2.7rem;
  }
  .image-for-symbol {
    width: 13px;
    height: 13px;
  }

  .nav-bar-for-mets {
    height: 63px;
    gap: 0.625rem 0.875rem;
  }
  .container-for-mets {
    gap: 1.4rem;
  }
  .title-for-mets {
    margin: 0;
    width: 0;
    width: auto;
    padding: 0 0.75rem;
  }
  .item-for-title-mets {
    font-size: 30px;
    line-height: 2.4rem;
  }
  .item-for-nav-mets-first {
    font-size: 10px;
  }
  .item-for-nav-mets-second {
    font-size: 12px;
  }
  .button-for-nav-second {
    padding: 5px 16px 5px 16px;
  }
  .item-for-nav-mets-last3 {
    font-size: 12px;
  }
  .button-for-nav-last3 {
    padding: 5px 16px 5px 16px;
  }
  .container-for-card-mets {
    gap: 0.625rem;
    padding: 0 35px;
    height: 0;
    height: auto;
  }
  .first-content-card-mets {
    object-fit: cover;
    object-position: center;
  }
  .container-for-item-first-card-mets {
    margin: 0;
    padding: 0;
    max-width: 185px;
    padding: 0 4px;
    gap: 11px;
  }
  .item-first-card-mets {
    font-size: 18px;
    line-height: 1.8rem;
  }
  .item-first-card-mets1 {
    font-size: 12px;
    line-height: 1.35rem;
    margin-right: 2px;
  }
  .item-first-card-mets1_1 {
    font-size: 12px;
    line-height: 1.35rem;
    margin-right: 2px;
  }
  .container-for-createformula {
    padding: 0.625rem 0.9625rem 0.75rem 1.5625rem;
  }
  .itame-for-createformula {
    font-size: 0.75rem;
  }
  .container-for-every-card-mets {
    width: 0;
    width: 100%;
    max-width: 13.34rem;
    gap: 10px;
  }
  .container-for-every-card-mets1 {
    width: 0;
    width: 100%;
    max-width: 13.34rem;
    gap: 10px;
  }
  .acne {
    max-width: 13.06rem;
    min-height: 334px;
  }
  .container-for-button-for-last3cardmets1 {
    padding-right: 2.1rem;
    padding-left: 1.7rem;
    gap: 10px;
  }
  .container-for-button-for-last3cardmets {
    padding-right: 2.1rem;
    padding-left: 1.7rem;
    gap: 10px;
  }
  .itame-for-button-for-last3cardmets {
    font-size: 0.75rem;
  }
  .itame-for-button-for-last3cardmets1 {
    font-size: 0.75rem;
  }
  .item-first-card-mets {
    font-size: 1.125rem;
    line-height: 1.8rem;
  }

  .container-problem-people {
    padding-top: 3.6rem;
    gap: 18px;
  }
  .title-problem-people {
    gap: 15px;
    max-height: 8.37rem;
  }
  .item-title-problem {
    font-size: 30px;
    line-height: 37.6px;
  }
  .item-mini-title-problem {
    font-size: 12px;
    line-height: 21.6px;
  }
  .nav-list-problem {
    width: 0;
    width: auto;
    flex-wrap: wrap;
    gap: 0.625rem 0.875rem;
    align-items: center;
    padding: 0 20px;
  }
  .first-button-problem {
    margin: 0;
    padding: 0 1.2625rem;
    width: 0;
    width: auto;
    font-size: 0.75rem;
  }
  .second-button-problem {
    width: 0;
    width: auto;
    font-size: 0.75rem;
  }
  .thirst-button-problem {
    width: 0;
    padding: 0 1.0625rem;
    width: auto;
    font-size: 0.75rem;
  }
  .fourth-button-problem {
    margin: 0;
    padding: 0 1.0625rem;
    width: 0;
    width: auto;
    font-size: 0.75rem;
  }
  .fivth-button-problem {
    padding: 0 1.0625rem;
    width: 0;
    width: auto;
    font-size: 0.75rem;
  }
  .container-card-problem {
    padding: 0 10px;
  }
  .image-card-problem {
    width: 18.69rem;
    align-items: center;
  }
  .womans {
    width: 100%;
    max-width: 9.34rem;
    height: 100%;
    min-height: 14.39rem;
  }
  .container-item-card-problem {
    row-gap: 8.75rem;
    column-gap: 90px;
    max-width: 293px;
    grid-template-columns: 106px 93px;
  }
  .column-item-card-problem {
    padding-left: 9px;
    font-size: 14px;
  }
  .country-item-card-problem {
    font-size: 12px;
  }
  .container-item-card-problem1 {
    column-gap: 8.65rem;
  }
  .container-card-problem > div:nth-last-child(-n + 3) {
    display: none;
  }
  .button-show {
    height: 0;
    min-height: 2.88rem;
    font-size: 0.875rem;
    padding: 0.87rem 0;
  }

  .container-for-textingr {
    font-size: 1.875rem;
    line-height: 2.35rem;
  }
  .container-for-textform {
    font-size: 0.75rem;
    line-height: 1.35rem;
  }

  .container-for-containerscreams {
    gap: 1.65rem;
    padding: 0 0.7rem;
    min-height: 0;
    height: auto;
  }
  .container-for-text-cream1 {
    padding: 0 1px;
    padding-left: 0.525rem;
    padding-bottom: 1.5rem;

    width: auto;
    align-self: stretch;
  }
  .container-for-cream1 {
    padding: 0;
    height: auto;
  }
  .container-for-firstcreams {
    row-gap: 16px;
  }
  .text-cream1 {
    font-size: 18px;
    line-height: 24px;
  }
  .text2-cream1 {
    font-size: 14px;
    line-height: 21.6px;
  }
  .container-for-containerscream {
    row-gap: 16px;
  }
  .container-for-cream2 {
    width: 0;
    width: 16.685rem;
    height: 0;
    height: 21.31rem;
  }
  .img-cream {
    height: 12.19rem;
  }
  .text-cream2 {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .text2-cream2 {
    font-size: 0.875rem;
    line-height: 1.35rem;
  }
  .container-for-secondcreams > div:nth-last-child(-n + 2) {
    display: none;
  }
  .button-for-cream {
    margin: 0;
  }

  .container-for-comments {
    padding-left: 5px;
    padding-right: 5px;
    min-height: 45.84rem;
  }
  .tittle-comments {
    margin: 0;
    margin-top: 3.3rem;
    font-size: 30px;
    line-height: 47.6px;
    width: 100%;
    max-width: 12.88rem;
  }
  .container-for-reviews {
    align-items: center;
    justify-self: center;
  }
  .container-for-review {
    width: 100%;
    max-width: 18.75rem;
  }
  .container-for-starstext {
    align-items: flex-start;
  }
  .container-for-reviews > div:nth-last-child(2) {
    display: none;
  }

  .container-for-faqs {
    padding-top: 23px;
    padding-left: 7px;
    padding-right: 9px;
    gap: 1.4rem;
    min-height: 28.19rem;
  }
  .text-faqs {
    font-size: 1.875rem;
  }
  .container-for-question {
    height: 0;
    min-height: 4rem;
    font-size: 1.125rem;
    padding-right: 50px;
    padding-left: 0.94rem;
  }
  .container-for-questions {
    gap: 0.87rem;
  }

  .container-for-experts {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-for-textexperts {
    padding: 0 9px;
    gap: 1.56rem;
  }
  .text1-experts {
    font-size: 1.875rem;
    line-height: 2.975rem;
  }
  .container-for-textick {
    gap: 1.06rem;
  }
  .text2-expert {
    font-size: 0.875rem;
  }
  .container-for-tick {
    padding: 0;
    height: 100%;
    min-height: 7rem;
  }
  .container-text2-experts {
    height: 100%;
    min-height: 8.38rem;
  }
  .container-card-experts {
    padding: 0;
    padding-top: 18px;
    padding-left: 10px;

    width: 100%;
    max-width: 311px;
  }
  .container-woman-exp {
    width: 100%;
    max-width: 301px;
    min-height: 347px;
    margin: 0 auto;
  }
  .img-woman {
    width: 267px;
    height: 226px;
  }

  .container-for-care {
    padding: 0 25px;
    padding-top: 53px;
    margin: 0;
    gap: 2.7rem;
  }
  .title-care {
    font-size: 30px;
    line-height: 47.6px;
  }
  .text2-in-step1 {
    font-size: 1.0625rem;
  }

  .container-for-satrted {
    padding-top: 5.93rem;
    min-height: 20.68rem;
  }
  .button-quiz {
    max-width: 8.4rem;
    padding: 0.6125rem 0;
  }
  .title-start {
    font-size: 30px;
    line-height: 47.6px;
  }
  .text-in-quiz {
    font-size: 0.875rem;
  }

  .container-for-info {
    padding-left: 2rem;
    gap: 1.5rem;
  }
  .container-for-skinhair {
    gap: 14px;
  }
  .container-for-exsessinf {
    gap: 14px;
  }
  .item-skinhair {
    font-size: 0.875rem;
    line-height: 20px;
  }
  .container-for-login {
    padding: 5px 43px 6px 37px;
    min-width: 127px;
  }
  .text-login {
    font-size: 1rem;
    line-height: 1.35rem;
  }
  .container-for-images {
    gap: 25px;
    grid-template-rows: repeat(1, 5.3rem);
  }
  .soft {
    max-height: 100%;
    min-height: 0; /* Магический фикс для Flexbox */
    width: auto;
  }
  .flag {
    max-height: 100%;
    min-height: 0; /* Магический фикс для Flexbox */
    width: auto;
  }
  .container-for-footer {
    gap: 2.96rem;
  }
  .navigation li:nth-child(2),
  .navigation li:nth-child(4) {
    display: none;
  }
  .navigation {
    gap: 0.62rem;
  }
  .terms1 {
    font-size: 9px;
    width: 3.5rem;
  }
  .terms3 {
    width: 4.94rem;
    font-size: 9px;
  }
  .terms5 {
    width: 9.13rem;
    font-size: 9px;
  }
}

.text-faqs::first-letter,
.title-care::first-letter,
.title-start::first-letter {
  color: palevioletred;
  font-size: 1.2em;
  font-weight: 500;
}

::selection {
  background-color: #10a5ea;
  color: palevioletred;
}
.nav-item {
  position: relative;
}
.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #10a5ea;
  transition: width 0.3s ease-in-out;
}
.nav-item:hover::after {
  width: 100%;
}
.nav-item {
  transition:
    opacity 0.4s ease,
    filter 0.4s ease,
    color 0.6s ease-in-out;
}
.nav-list:hover .nav-item:not(:hover) {
  opacity: 0.4;
  filter: blur(0.5px);
}
a {
  transition: color 0.6s ease-in-out;
}
a:hover {
  color: palevioletred;
}

.button-login {
  animation: pulseShadow 2.5s infinite;
}
@keyframes pulseShadow {
  from {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.195);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(8, 197, 244, 0.577);
  }
  to {
    box-shadow: 0 0 0 0 rgba(8, 197, 244, 0.765);
  }
}
button {
  transition: 0.4s ease-out;
}
button:hover {
  transform: scale(1.2);
}
button:active {
  transform: scale(0.43);
}
.button-login:focus-visible {
  outline: 1px solid palevioletred;
  outline-offset: 6px;
  transform: scale(1.05);
}
.container-for-text {
  animation: tittle 2s;
}
@keyframes tittle {
  from {
    margin-top: 100%;
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
    margin-top: 0%;
  }
}
.img-woman23 {
  animation: womans 2s infinite alternate ease-in;
}
@keyframes womans {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
.button-for-nav-second {
  transition: background-color 0.4s cubic-bezier(0, 0.44, 0.82, 0.47);
}
.button-for-nav-second:hover {
  background-color: black;
}
.button-for-nav-last3 {
  transition: background-color 0.4s cubic-bezier(0, 0.44, 0.92, 0.47);
}
.button-for-nav-last3:hover {
  background-color: black;
}
.first-content-card-mets {
  transition: 0.5s ease-in-out;
}
.first-content-card-mets:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(255, 0, 247, 0.572);
  transform: scale(1.06);
}
.container-for-every-card-mets {
  transition: 0.5s ease-in-out;
}
.container-for-every-card-mets:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(255, 0, 247, 0.572);
  transform: scale(1.06);
}

.nav-list-problem a {
  text-decoration: none;
  color: rgb(90, 88, 88);
  transition: color 0.6s ease-in-out;
}
.nav-list-problem a:hover {
  color: palevioletred;
}
.nav-list-problem li {
  transition: background-color 0.4s cubic-bezier(0, 0.44, 0.92, 0.47);
}
.nav-list-problem li:hover {
  background-color: #000000;
}
.title-problem-people {
  animation: problem 2s ease-out;
}
@keyframes problem {
  from {
    margin-left: 100%;
    opacity: 0;
  }
  to {
    margin-left: 28%;
    opacity: 1;
  }
}
.womans {
  filter: brightness(0.8);
  transition: filter 0.5s ease-out;
}
.womans:hover {
  filter: brightness(1);
}

.container-for-cream2,
.container-for-cream1 {
  animation: floatCard 5s ease-in-out infinite;
}
.container-for-cream2:nth-child(even),
.container-for-cream1:nth-child(even) {
  animation-delay: 2.5s;
}
@keyframes floatCard {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5%);
  }
}

.container-for-question::before {
  content: "Q:";
  color: palevioletred;
  font-weight: 500;
  font-size: 1.4rem;
  margin-right: 10px;
  transition: 0.3s ease;
}
.container-for-question:hover::before {
  transform: translateY(-3px) rotate(-10deg);
}
.container-for-comments {
  overflow: hidden;
}
.container-for-question {
  transition: 0.3s ease;
  cursor: pointer;
}
.container-for-question:hover {
  transform: translateX(2.5%);
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.147);
}
.container-for-question:first-of-type {
  background-color: #f9f9f9;
}
.container-for-question:last-child {
  border-color: #10a5ea;
}

.container-for-reviews {
  display: flex;
  width: max-content;
  animation: scrollReviews 20s linear infinite;
}
.container-for-reviews:hover {
  animation-play-state: paused;
}
@keyframes scrollReviews {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.container-woman-exp {
  transition: 0.4s ease-out;
}
.container-woman-exp:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 10px 15px 30px rgba(212, 0, 0, 0.15);
}

.itame-image-step img {
  transition: transform 0.3s;
}
.card-step-care:hover .itame-image-step img {
  animation: bounceIcon 0.6s cubic-bezier(0.28, 0.84, 0.42, 1) infinite
    alternate;
}
@keyframes bounceIcon {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-15px) scale(1.05);
  }
}

.button-quiz {
  position: relative;
}
.button-quiz::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 25%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.632),
    transparent
  );
  transform: skewX(-10deg);
  animation: shineButton 7s infinite;
}
@keyframes shineButton {
  0% {
    left: -100%;
  }
  20%,
  100% {
    left: 200%;
  }
}

.item-skinhair {
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
}
.item-skinhair::before {
  content: "→";
  position: absolute;
  left: -20px;
  opacity: 0;
  color: #43ebeb;
  transition:
    left 0.3s ease,
    opacity 0.3s ease;
}
.item-skinhair:hover {
  transform: translateX(20px);
  color: #43ebeb;
}
.item-skinhair:hover::before {
  left: -25px;
  opacity: 1;
}
